
.nav-bar {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content:start;
  height: 40px;
  align-items: center;
  gap: 1em;
}

button {
  padding: 5px;
  width: 100px;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
}

button:hover {
  border: 2px solid black
}

.active {
  border: 2px solid red;
}
